/*-- HTML5 Boilerplate. -----------------------------------------------------*/

@import "../../vendor/h5bp/css/normalize.css";
@import "../../vendor/h5bp/css/main.css";

/*-- Vendor styles -----------------------------------------------------*/
@import "../vendor/chosen/chosen/chosen.css";
@import "../vendor/jquery-ui-1.10.3.custom/css/smoothness/jquery-ui-1.10.3.custom.css";

/*-- Compass stuff -----------------------------------------------------*/
@import "compass/css3";
@import "compass/utilities/sprites/base";







/*-- Main variables. -----------------------------------------------*/
$in-progress-color: #4acc4a; 
$upcoming-color: #e0ad10;
$finished-color: #b80f0f;
$font-family: Helvetica, Arial, Verdana;


//dummy placeholder
body {
  font-family: $font-family;
  font-size: 13px;
  padding-top: 30px; 
  background: #f0f1ed;
}
//dummy placeholder
section{
  width: 610px;
  padding-left: 20px;
  margin: 0 auto; 
  background: #fff;
  padding-bottom: 20px;
}




/*-- Application stylesheets. -----------------------------------------------*/

/*
 * Sprite generation 
 */
$icons-sprites: sprite-map("icons/*.png", $spacing: 30px );
@mixin icons-sprite( $name, $dimensions: false, $offset-x: 0, $offset-y: 0 ) {
  background-image: $icons-sprites;
  background-repeat: no-repeat;
  @include sprite($icons-sprites, $name, $dimensions, $offset-x, $offset-y)
}

/*
 * Re-used Icons
 */
.icon{
  background: left center no-repeat;
  padding-left: 17px;
  margin-left: 6px;
  font-size: 12px;
  line-height: 1em;
  &.icon.on-serve{
    @include icons-sprite(ball);
  }
  &.icon.winner{
    @include icons-sprite(winner);
  }
  &.icon.shirt{
    padding-left: 22px;
    @include icons-sprite(shirt);
  }
  &.icon.shoe{
    padding-left: 22px;
    @include icons-sprite(shoe);
  }
  &.icon.racket{
    @include icons-sprite(racket);
  }
}

/*
 * Main Title
 */
h1{
  line-height: 1em;
  font-size: 48px;
  height: 66px;
  line-height: 70px;
  color: white;
  background: url('../img/header_bg.png');
  text-transform: uppercase;
  margin: 0;
  position: relative;
  span{
    display: block;
    position: absolute;
    top: 0px;
    left: -41px;
    background: url('../img/header_left_bg.png');
    height: 82px;
    width: 41px;
  }
}

/*
 * Filters
 */
.filters{
  margin-top: 22px;
  .filter{
    font-size: 13px;
    line-height: 28px;
    float: left;
    width: 40%;
    &.right{
      float: right;
      width: 58%;
    }
    label{
      font-weight: bold;
      float: left;
      margin-right: 8px;
    }
    .selector{
      float: left;
      // height: 28px;
      // padding-right: 10px;
      // background: #f1f3f3 url('../img/filter_arrow_down.png') right center no-repeat;
      // background-origin: content-box;
      // position: relative;
      // cursor: pointer;
      #date-picker{
        border: 1px solid #dddede;
        background: #f1f3f3;
        height: 28px;
        padding: 0 10px;
        input{
          border: none;
          background: none;
          width: 84px;
          font-family: $font-family;
          font-size: 13px;
          line-height: 1em;
        }
        .ui-datepicker-trigger{
          border: none;
          cursor: pointer;
          vertical-align: text-bottom;
        }
      }
      #tournament-select{
        width: 250px;
      }
    }
  }
}

/*
 * Tournament
 */

.tournament{
  h2{
    margin: 20px 0 0 0;
    color: #353434;
    font-size: 18px;
    line-height: 75px;
    height: 75px;
    border-bottom: 1px solid #e1e1e1;
    cursor: pointer;
    background: #f2f1f1; /* Old browsers */
    position: relative;
    padding-left: 60px;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f2f1f1 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f1f1), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f2f1f1 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f2f1f1 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f2f1f1 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f2f1f1 0%,#ffffff 100%); /* W3C */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f1f1', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
    .expand{
      position: absolute;
      top: 27px;
      left: 15px;
      width: 23px;
      height: 20px;
      @include icons-sprite(expand);
    }
    .toggle{
      position: absolute;
      top: 27px;
      right: 10px;
      display: block;
      a {
        display: block;
        float: left;
        width: 25px;
        height: 22px;
        outline: none;
        &.list{
          @include icons-sprite(view_list_on);
        }
        &.boxes{
          @include icons-sprite(view_boxes_off);
        }
      }      
    }    
  }
  .legend{
    background: #f7f7f7;
    height: 40px;
    padding-left: 10px;
    span{
      font-size: 12px;
      line-height: 40px;
      strong{
        font-size: 16px;
      }  
    }
    .status-icons{
      display: none;
      float: right;
      margin-right: 10px;
      .status{
        display: inline-block;
        width: 14px; 
        height: 14px;
        margin-right: 4px;
        vertical-align: text-bottom;
        &.in-progress{
          background: $in-progress-color;
        }
        &.upcoming{
          background: $upcoming-color;
        }
        &.finished{
          background: $finished-color;
        }            
      }
    }
  }
  .info{
    line-height: 40px;
    height: 40px;
    padding-left: 10px;
    color: #5d5d5d;
    font-size: 13px;
    span{
      margin-right: 44px;
    }    
  }
  .matches{
    .match{
      margin-bottom: 15px;
      .header{
        background: #7db87d; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkYjg3ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ZWExNWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #7db87d 0%, #5ea15e 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db87d), color-stop(100%,#5ea15e)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #7db87d 0%,#5ea15e 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #7db87d 0%,#5ea15e 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #7db87d 0%,#5ea15e 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #7db87d 0%,#5ea15e 100%); /* W3C */
        /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db87d', endColorstr='#5ea15e',GradientType=0 ); /* IE6-8 */
        height: 32px;
        line-height: 34px;
        color: white;
        text-shadow: 1px 1px 1px #4d8d4d;
        font-size: 14px;
        font-weight: bold;
        padding-left: 10px;
        position: relative;
        .round{
          .sep{
            color: #72c372;
          }
        }
        a.head-to-head, a.head-to-head:hover, a.head-to-head:visited, a.head-to-head:active {
          color: white;
          text-shadow: 1px 1px 1px #093440;
          font-size: 12px;
          line-height: 1em;
          float: right;
          text-decoration: none;
          padding: 3px 8px 2px 5px;
          @include border-radius( 3px );
          margin-top: 7px;
          background: #0d4959 url('../img/head_arrow_right.png') right center no-repeat;
          margin-right: 160px;
          span.boxed{
            display:none;
          }            
        }          
        .status{
          display: block;
          position: absolute;
          height: 32px;
          top:0;
          right: 0;
          width: 140px;
          padding-left: 10px;
          &.in-progress{
            background: $in-progress-color;
            text-shadow: 1px 1px 1px #337433;
          }
          &.upcoming{
            background: $upcoming-color;
            text-shadow: 1px 1px 1px #b68e15;
          }
          &.finished{
            background: $finished-color;
            text-shadow: 1px 1px 1px #840b0b;
          }      
        }    
      }
      .players{
        border: 1px solid #e3e1e1;
        border-top: none;
        .player-wrapper{
          &:first-child{
            .player{
              background-color: #f7f7f7;
            }
          }
          .player{
            padding: 12px 15px 11px 32px;
            &.serving{
              @include icons-sprite(ball, false, 9, 15);
            }
            &.winner{
              @include icons-sprite(winner, false, 9, 15);
              background-color: #ecfeec; 
            }
            .name-icons{
              float: left;
              white-space:nowrap;
              .name{
                font-size: 13px;
                line-height: 1em;
                a, a:link, a:visited, a:hover{
                  color: #007700;
                }
              }   
              .icons{
                margin-left: 5px;
                .icon{
                  margin-left: 5px;
                }              
              }   
            }
            .games{
              float: right;
              font-size: 12px;
              line-height: 20px;
              span{
                margin-left: 10px;
              }            
            }          
          }
        }
      }
    }  
  }
}
/*
 * Expanded alterations
 */
.tournament.expanded h2 .expand{
  @include icons-sprite(collapse, false, 0, 8);
}
/*
 * Boxed view alterations
 */
.tournament.boxed h2 .toggle a.list{
  @include icons-sprite(view_list_off);
}
.tournament.boxed h2 .toggle a.boxes{
  @include icons-sprite(view_boxes_on);
}
.tournament.boxed .legend .status-icons{
  display: inline;
}
.tournament.boxed .matches .match{
  float: left;
  width: 49%;
  @include box-sizing(border-box);
}
.tournament.boxed .matches .match:nth-child(2n+1){
  margin-right: 2%;
}
.tournament.boxed .matches .match .header a.head-to-head{
  margin-right: 30px;
}
.tournament.boxed .matches .match .header a.head-to-head span.list{
  display:none;
}
.tournament.boxed .matches .match .header a.head-to-head span.boxed{
  display:inline;
}
.tournament.boxed .matches .match .header .status{
  top: 9px;
  right: 9px;
  width: 14px;
  height: 14px;
  padding: 0;
  text-indent: -1000px;
  overflow: hidden;
  -moz-box-shadow:inset 0px 0px 1px #000000;
  -webkit-box-shadow:inset 0px 0px 1px #000000;
  box-shadow:inset 0px 0px 1px #000000;  
}
.tournament.boxed .matches .match .players .player .name-icons .name{
  display: block;
}
.tournament.boxed .matches .match .players .player .name-icons .icons{
  margin-left: 0;
  display: block;
}
.tournament.boxed .matches .match .players .player .name-icons .icons .icon:first-child{
  margin-left: 0;
}


