<h1>Live Scores <span>&nbsp;</span></h1>

<div class="filters clearfix">

  <div class="filter left clearfix">
    <label>Results For</label>
    <div class="selector">
      <span>April 17, 2013</span>
      <select>
        <option>April 17, 2013</option>
        <option>April 18, 2013</option>
        <option>April 19, 2013</option>
      </select>
    </div>
  </div>

  <div class="filter right clearfix">
    <label>View Tournaments By</label>
    <div class="selector">
      <span>All</span>
      <select>
        <option>All</option>
        <option>Male</option>
        <option>Female</option>
      </select>
    </div>
  </div>

</div>

<div class="tournament expanded">
  <h2>
    <span>2013 ATP Monte-Carlo Rolex Masters (Men’s Singles)</span>
    <span class="expand"></span>
    <span class="toggle clearfix">
      <a href="#" class="list"></a>
      <a href="#" class="boxes"></a>
    </span>
  </h2>
  <div class="content">
    <div class="legend clearfix">
      <span><strong>Legend:</strong></span>
      <span class="icon on-serve">On Serve</span>
      <span class="icon winner">Winner</span>
      <span class="icon shirt">Shirts</span>
      <span class="icon shoe">Shoes</span>
      <span class="icon racket">Rackets</span>
      <span class="status-icons">
        <span class="status in-progress" title="In progress"></span>
        <span class="status upcoming" title="Upcoming"></span>
        <span class="status finished" title="Finished"></span>
        <span>Match Status</span>
      </span>
    </div>
    <div class="info">
      <span><strong>Location:</strong> Monte-Carlo, France </span>
      <span><strong>Court Type:</strong> Clay</span>
    </div>
    <div class="matches clearfix">
      
      <div class="match">
        <div class="header clearfix">
          <span class="round">Round 2 <span class="sep">::</span> Court 2 <span class="sep">::</span> 2nd Match</span>
          <a class="head-to-head" href="#"><span class="list">HEAD TO HEAD</span><span class="boxed">H2H</span></a>
          <span class="status in-progress">IN PROGRESS</span>
        </div>
        <div class="players">
          <div class="player clearfix serving">
            <span class="name-icons">
              <span class="name">Marin Cilic (9)</span>
              <span class="icons">
                <a class="icon shoe" href="#"></a>
                <a class="icon racket" href="#"></a>
              </span>
            </span>
            <span class="games">
              <span>3</span>
              <span>6</span>
            </span>
          </div>
          <div class="player clearfix">
            <span class="name-icons">
              <span class="name"><a href="#">Kevin Anderson</a></span>
              <span class="icons">
                <a class="icon shirt" href="#"></a>
              </span>
            </span>
            <span class="games">
              <span>6</span>
              <span>2</span>
            </span>
          </div>
        </div>
      </div>              
      
      <div class="match">
        <div class="header clearfix">
          <span class="round">Round 2 <span class="sep">::</span> Court 2 <span class="sep">::</span> 2nd Match</span>
          <a class="head-to-head" href="#"><span class="list">HEAD TO HEAD</span><span class="boxed">H2H</span></a>
          <span class="status finished">FINISHED (0:54:22)</span>
        </div>
        <div class="players">
          <div class="player clearfix">
            <span class="name-icons">
              <span class="name">Marin Cilic (9)</span>
              <span class="icons">
                <a class="icon shoe" href="#"></a>
                <a class="icon racket" href="#"></a>
              </span>
            </span>
            <span class="games">
              <span>3</span>
              <span>6</span>
            </span>
          </div>
          <div class="player clearfix winner">
            <span class="name-icons">
              <span class="name"><a href="#">Kevin Anderson</a></span>
              <span class="icons">
                <a class="icon shirt" href="#"></a>
              </span>
            </span>
            <span class="games">
              <span>6</span>
              <span>2</span>
            </span>
          </div>
        </div>
      </div>
      
      <div class="match">
        <div class="header clearfix">
          <span class="round">Round 2 <span class="sep">::</span> Court 2 <span class="sep">::</span> 2nd Match</span>
          <a class="head-to-head" href="#"><span class="list">HEAD TO HEAD</span><span class="boxed">H2H</span></a>
          <span class="status upcoming">UPCOMING</span>
        </div>
        <div class="players">
          <div class="player clearfix">
            <span class="name-icons">
              <span class="name">Marin Cilic (9)</span>
              <span class="icons">
                <a class="icon shoe" href="#"></a>
                <a class="icon racket" href="#"></a>
              </span>
            </span>
            <span class="games">
            </span>
          </div>
          <div class="player clearfix">
            <span class="name-icons">
              <span class="name"><a href="#">Kevin Anderson</a></span>
              <span class="icons">
                <a class="icon shirt" href="#"></a>
              </span>
            </span>
            <span class="games">
            </span>
          </div>
        </div>
      </div>
      

      
    </div>
  </div>
</div>
