<div class="player clearfix <%- model.get('is_serving')?'serving':'' %> <%- model.get('is_winner')?'winner':'' %> ">
  <span class="name-icons">
    <span class="name">
      <% if ( model.get('country') != '' ){ %>
        <span class="flag flags-<%- model.get('country').toLowerCase() %>"></span>
      <% } %>
      <% if ( model.get('url') != '' ){ %>
        <a href="<%- model.get('url') %>" data-bypass="1" target="_blank"><%= model.get('name') %></a>
      <% } else { %>
        <%= model.get('name') %> 
      <% } %>
      <span> (9)</span>
    </span>
    <span class="icons">
      <% if ( model.get('shirt') != '' ){ %>
      <a class="icon shirt" href="<%- model.get('shirt') %>" data-bypass="1" target="_blank" ></a>
      <% } %>
      <% if ( model.get('racket') != '' ){ %>
      <a class="icon racket" href="<%- model.get('racket') %>" data-bypass="1" target="_blank"></a>
      <% } %>
      <% if ( model.get('shoes') != '' ){ %>
      <a class="icon shoe" href="<%- model.get('shoes') %>" data-bypass="1" target="_blank"></a>
      <% } %>
    </span>
  </span>
  <span class="games">
    <% _.each( model.get('set_games'), function( game ){
      %>
      <span><%= game %></span>
      <%      
    }) %>
  </span>
</div>